* {
  margin: 0;
  padding: 0;
}

#chart-container {
  position: relative;
  height: 30vh;
  overflow: hidden;
  /* margin-bottom: 1px; */
  border: 1px solid #009af2;
  border-left: 1px solid #009af2;
  border-top: none;
  border-bottom: none;
}

body {

  background-color: #070923;
}

#pie {
  position: relative;
  height: 30vh;
  overflow: hidden;
  border: 1px solid #009af2;
}

#stacked {
  position: relative;
  height: 30vh;
  overflow: hidden;
  /* margin-top: 1px; */
  border: 1px solid #009af2;
  border-top: none;

}

#gauge {
  position: relative;
  height: 30vh;
  overflow: hidden;
  border-radius: auto;
  font-size: small;
  /* border: 1px solid #009af2; */
  border-left: #009af2 1px solid;
  border-right: #009af2 1px solid;
}

.rowOfcol1 {
  width: 100%;
  height: 100%;

}

#indicator1 {
  position: relative;
  height: 30vh;
  overflow: hidden;
  /* border: 1px solid #009af2; */
}

#indicator2 {
  position: relative;
  height: 30vh;
  overflow: hidden;
  /* border: 1px solid #009af2; */
}

#viewDiv {
  /* height: 100vh;
        width: 100vh; */
  max-width: 100%;
  width: 100%;
  height: 62vh;
  /* background-color: none; */
  /* border-left: 1px solid #009af2; */
  border-bottom: 1px solid #009af2;
  border-top: 1px solid #009af2;

}

.id {
  height: 60%;
}

#road_status {
  position: relative;
  height: 86vh;
  overflow: hidden;
  /* border: 1px solid blueviolet; */

}

#road_type {
  position: relative;
  height: 86vh;
  overflow: hidden;
  /* border: 1px solid blueviolet; */

}

a:hover {
  color: #0a58ca;
}

body {
  font-family: Arial;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  max-height: 600px;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #070923;
  color: white;
  border-bottom: 3px solid #2c1cd8;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link :hover {
  border: 1px solid #009af2;

}

.nav-link {
  color: white;
}

.nav-tabs {
  border: none;
}

.col-3 {
  display: grid;
  width: 25%;
  justify-items: center;
  background-color: #070923;
}

h6 {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 22px;
}
#chart{
  color: white;
}
#roadchart{
  color: white;


}
#RoadSelector{
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  background-color: #070923;
  border: 1px solid #009af2;
}

#chart:hover{
  background-color: #372d5a6c
}
#roadchart:hover{
  background-color:#372d5a6c ;
}
select {
  overflow-y: scroll;
}
